<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    @apiNote 사업자 휴폐업 관련 매퍼
    @author  es-seungglee
 -->
<mapper namespace="com.inno.rws.model.dao.rws.PostDao">

    <select id="selectPost" resultType="postVO">
        select
             post_id as postId
             ,title
             ,contents
             ,crt_id as crtId
             ,crt_dtm as crtDtm
             ,chg_dtm as chgDtm
        from tb_post
        where 
            post_id = #{postId}
    </select>
    
    <insert id="insertPost" parameterType="postVO">
        insert into tb_post(
            title
            ,contents
            ,crt_id
        )values (
            #{title},
            #{contents},
            #{crtId}
        ) 
    </insert>
    
    <select id="selectPostList" resultType="postVO">
        select
             post_id as postId
             ,title
             ,contents
             ,crt_id as crtId
             ,crt_dtm as crtDtm
             ,chg_dtm as chgDtm
        from tb_post
        where 
            crt_id = #{crtId}
    </select>
    
    <delete id="deletePost">
        delete from tb_post 
            where
                post_id = #{postId}
    </delete>
    
    <update id="updatePost">
        update
            tb_post
                set
                    title = #{title}
                    ,contents = #{contents}
                    ,chg_dtm = NOW()
            where
                post_id = #{postId}
    </update>
    
</mapper>